@font-face {
    font-family: 'Akrobat-ExtraBold';
    src: url("../font/Akrobat-ExtraBold.otf");
}

@font-face {
    font-family: 'Shadows Highstter';
    src: url("../font/ShadowsHighstter.otf");
}

@font-face {
    font-family: 'Gilroy';
    src: url("../font/Gilroy-Regular.ttf");
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url("../font/Gilroy-Medium.ttf");
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url("../font/Gilroy-Light.ttf");
}